
    @font-face {
    font-family: 'TapeWorm';
    src: url('../fonts/tapeworm-webfont.woff2') format('woff2'),
         url('../fonts/tapeworm-webfont.woff') format('woff'),
         url('../fonts/tapeworm-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'synchro_letplain';
    src: url('../fonts/synchro_let_plain-webfont.woff2') format('woff2'),
         url('../fonts/synchro_let_plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    
  .round-corners {
    /*animation: colorchange 50s;
    -webkit-animation: colorchange 50s;*/
    margin:auto;
    border-radius: 15px 50px;
    background:green;
    padding: 25px;
    width: 25vw;
    text-align: center;
    border-width: medium;
    border-color:grey;
}  
    .Site {
        display: flex;
        flex-direction: column;
        height: 100%;
        /* 1, 3 */
    }

    .Site-header,
    .Site-footer {
        flex: none;
        /* 2 */
    }

    .Site-content {
        flex: 1 0 auto;
        /* 2 */
        padding: var(--space) var(--space) 0;
        width: 100%;
    }

    .Site-content::after {
        content: '\00a0';
        /* &nbsp; */
        display: block;
        margin-top: var(--space);
        height: 0px;
        visibility: hidden;
    }

    @media (--break-lg) {
        .Site-content {
            padding-top: var(--space-lg);
        }
        .Site-content::after {
            margin-top: var(--space-lg);
        }
    }

    .Site-content--full {
        padding: 0;
    }

    .Site-content--full::after {
        content: none;
    }

    .Site-content {
        flex: 1;
    }


    .bd-notification {
        background-color: whitesmoke;
        border-radius: 3px;
        padding: 1.25rem 2.5rem 1.25rem 1.5rem;
        padding-right: 2.5rem;
        padding-left: 1.5rem;
        position: relative;
        text-align: center;
    }

    .is-info {
        background-color: #209cee;
        color: #fff;
    }

    .is-success {
        background-color: #23d160;
        color: #fff;
    }

    .is-warning {
        background-color: #ffdd57;
        color: rgba(0, 0, 0, 0.7);
    }

    .is-danger {
        background-color: #ff3860;
        color: #fff;
    }
    
    .is-size-8 {
  font-size: 0.5rem !important;
}
    
     .is-size-8-mobile {
    font-size: 0.5rem !important;
  }
    
      .is-size-8-tablet {
    font-size: 0.5rem !important;
  } 
       .is-size-8-touch {
    font-size: 0.5rem !important;
  } 
       .is-size-8-desktop {
    font-size: 0.5rem !important;
  } 
     .is-size-8-widescreen {
    font-size: 0.5rem !important;
  } 
     .is-size-8-fullhd {
    font-size: 0.5rem !important;
  } 
     .bg-img { 
       /* background-image: url(../images/waxmeGradient_title_split_top.png) ; */
        background-image: url(../images/waxme4.jpg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;

 }
   .bigBig {
	color:#84d5f7;
	line-height: 100%;
	font-size:9em;
	text-align:center; opacity:.8;
	font-family: 'TapeWorm', Arial, sans-serif;
} 
.navbar {
    background-color: rgba(255,255,255,0.9);
}
.boldgreySmallText {
  color:black;
  opacity:1;
  font-size: 1em;
  font-family: 'TapeWorm', Arial, sans-serif;
}
    .digitalText {
        font-family: 'synchro_letplain', Arial, san-serif;
    }
    .goldSmallText {
  color:gold;
  opacity:.8;
  font-size: 1em;
  font-family: 'TapeWorm', Arial, sans-serif;
}
.greySmallText {
  color:grey;
  opacity:.8;
  font-size: 1em;
  font-family: 'TapeWorm', Arial, sans-serif;
}
.formArea {
  padding-left: 20px;
  margin-left: 20%;
}
.noselect {
  cursor:default;
  border-style: dotted;
  border-width: .25px;
  padding: 15px 5px 5px 5px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
  
    .button.is-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}